#carlos{
text-align: center;
}
#m{
    color: aliceblue;
background-color: red;
}
#b{
    color: aliceblue;
    background-color: red;
}
#c{
    color: aliceblue;
background-color: red;
}
#d{
    color: aliceblue;
    background-color: red;
}
#y{
    width: 200px; 
    height: 100px;
}